:root {
  --red: #bd1900;
  --yellow: #e0ad41;
  --black: #000000;
  --white: #ffffff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Digital";
  src: url("fonts/DS-DIGIB.TTF");
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf");
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  font-family: Inter;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zeruel {
	width: 100vw;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border: 0;
	display: none;
}

svg {
  transform: scale(1.18) perspective(1200px) rotateY(-10deg) translateX(-4%);
}

body.alert {
    background: linear-gradient(270deg, #bd1900, #7f2012);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
  background: linear-gradient(
    270deg,
    #7d2a08,
    #995714,
    #a99222,
    #949b22,
    #799227,
    #558323,
    #4c7533,
    #385c4d
  );
  background-size: 1600% 1600%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#Time > * {
  font-family: Digital;
}


#STOP:hover rect,
#SLOW:hover rect,
#NORMAL:hover rect {
  fill: var(--red);
}

#STOP:hover,
#SLOW:hover,
#NORMAL:hover,
#RACING:hover {
  cursor: pointer;
}

#RACING:hover #Urgent_block rect:nth-of-type(1) {
  fill: var(--red);
}

#RACING:hover #Urgent_block rect:nth-of-type(2) {
  fill: var(--black);
}

#RACING:hover #RACING_TEXT tspan {
  fill: var(--white);
}

#RACING:hover #RACING_TEXT_JAP tspan {
  fill: var(--yellow);
}
